*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #region utilities */

body{
    font-family: 'PT Sans', sans-serif;

}

.flexbox{
    display: flex;
}

:root{
    --head-blue: #0084fd;
    --light-white: #ffffff;
    --light-blue: #b5ddff;
    --light-purple:#9792e4;
    --dark-black: #000;
    --light-grey: #5c7182;
}

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    justify-content: center;
    gap: 1rem;
}

img{
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
}

p{
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

span{
    display: inline-block;
}

[class="col"]{
    padding: 0 1rem;
}

.col_12{
    width: 100%;
    margin:1rem 0;
}

.link{
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    color: var(--light-white);
}

.d_none_lg{
    display: none;
}


.col_12{
    width: 100%;

}

.col_md_6{
}

.col_md_4{
}

.col_lg_6{
}

.card{
    width: 100%;
    padding: 1rem;
}

.btn{
    padding: 0.6rem;
    margin: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
}

.p_marg{
    margin: 2rem 1rem;
}

.col_12.purple{
    background-color: var(--light-purple);
    border-radius: 25px;
}

.text_container.white, p.white{
    color: var(--light-white);
}
/* #endregion utilities */

/* #region header */

.head_container{
    background-color: var(--head-blue);
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px;
    width: 100%;
}

#logo{
       padding: 1rem 1rem;
}

.fa-bars{
    align-self: center;
    color: var(--light-white);
    padding: 1rem 1rem;

}


.btn.btn_heads{
    background-color: var(--light-white);
    color: var(--dark-black);
    font-weight: 700;
    border-radius: 35px;

}
/* #endregion header */

/* #region main */

.app_main{
    justify-content: center;
}
/* #region feature */

.col_feature_bg{
    background-color: var(--light-blue);
}

.card_radius{
    border-radius: 25px;
}

.card.flexbox, .text_container.flexbox{
    flex-direction: column;
}

.text_container.flexbox{
    align-items: center;
}

.blue_head{
    color: var(--head-blue);
    font-size: 1.5rem;
}



.btn.blue{
    color: var(--light-white);
    background-color: var(--head-blue);
}

.feature_p{
    font-weight: 600;
    font-size: 1rem;
    color: var(--light-grey);
}

#phone{
    margin-bottom: -1rem;
}

.feature_icon{
    color: var(--head-blue);
    margin: 1rem;
}

/* #endregion feature */

/* #region custom */

.custom_bg{
    background-color: var(--light-purple);
}

.col_custom_bg{
    background-color: var(--light-white);
    border-radius: 25px;
}



#arrow{
    margin-top: 2rem;
    width: 3rem;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 3rem;
    background-color: var(--light-purple);
    border-radius: 50%;
}



/* #endregion custom */

/* #region partner */
    .col_partner_bg{
        background-color: var(--light-blue);
    }

    .small_hed{
        text-align: center;
    }

    .head_purple{
        color: var(--light-purple);
        font-size: 2rem;
        text-align: center;
    }

    .partner_card{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .partner_img_container{
        border-radius: 50%;
        width: 100px;
        aspect-ratio: 1 / 1;
    }

    .first_partner{
        background-image: url(../img/testimonial1.jpg);
        background-size: cover;
        background-position: 50%;
        align-self: center;
        margin: 1rem 0;
    }

    .second_partner{
        background-image: url(../img/testimonial2.jpg);
        background-size: cover;
        background-position: 50%;
        align-self: center;
        margin: 1rem 0;
    }

    .third_partner{
        background-image: url(../img/download.jpg);
        background-size: cover;
        background-position: 50%;
        align-self: center;
        margin: 1rem 0;
    }

    .partner_h{
        align-self: center;
        font-weight: 600;
        color: var(--light-white);
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }

    .row.up{
        width: 30%;
        margin: auto;
    }

    .r_down{
        flex-direction: row;
        width: 70%;
        margin: auto;
    }
/* #endregion partner */

/* #region benefits */

.benefits{
    margin: 2rem 0;
}

.benefits_bg{
    background-color: var(--light-purple);
}

.card_bg_benefits{
    background-color: var(--light-white);
    border-radius: 25px;
}

.btn.btn_purple{
    background-color: var(--light-purple);
    color: var(--light-white);
    padding: 1rem 1.2rem;
}
/* #endregion benefits */

/* #region call_to_action */

.call_bg{
    background-color: var(--light-purple);
}


/* #endregion call_to_action */

/* #endregion main */


/* #region footer */

.footer_bg{
    background-color: var(--dark-black);
}

/* #endregion footer */


/* #region mediaquery */

@media screen and (min-width: 768px){
    .col_md_6{
        width: calc(100% / 12 * 6);  
        margin-right: 1.2rem;  
    }

    .col_md_3{
        width: calc(100% / 12 *3);
    
    }

    .col_md_3_bfts{
        width: calc(100% / 12 *3);
        margin: 2rem;
    
    }
    
    .partner_card{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}


@media screen and (min-width: 1154px){

    .d_none{
        display: none;
    }
    
    .d_none_lg{
        display: inline-block;
    }

    .row_lg{
    flex-wrap: nowrap;
    }

    .col_md_6{
        width: calc(100% / 12 * 6);    
    }

    .col_lg_3{

        width: calc(100% / 12 *3);
        margin: 1rem;
    
    }

    .card.flexbox{
        flex-direction: row;   
    }
    
    .row_lg{
        flex-wrap: nowrap;
    }

    #custom_card, #custom_card_down{
        flex-direction: column;
    }


    #custom_card> img{
        margin-bottom: 8rem;
    }

    .text_container_lg{
        margin-top: 1rem;
    }
   
    #lrg_txt{
            width: 70%;
    }

    #phone{
        width: 40%;
        margin-bottom: -4rem;
    }
}



/* #endregion mediaquery */