*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flexbox{
    display: flex;
}

:root{
    --head-blue: #0084fd;
    --light-white: #ffffff;
}

/* #region header */

.head_container{
    background-color: var(--head-blue);
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px;
}

#logo{
       padding: 1rem 1rem;
}

.fa-bars{
    align-self: center;
    color: var(--light-white);
    padding: 1rem 1rem;

}

/* #endregion header */

/* #region main */






/* #endregion main */


/* #region footer */


/* #endregion footer */


/* #region mediaquery */

@media screen and (max-width: 768px){

    
}



/* #endregion mediaquery */