*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #region utilities */

.flexbox{
    display: flex;
}

:root{
    --head-blue: #0084fd;
    --light-white: #ffffff;
    --light-blue: #b5ddff;
    --light-purple:#9792e4;
    --dark-black: #000;
}

.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    justify-content: center;
    gap: 1rem;
}

[class="col_12"]{
    padding: 0 1rem;
    width: 200px;
    height: 200px;
}

.col_12{
    width: 100%;
    margin:1rem 0;
}

.link{
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
}

.d_none_lg{
    display: none;
}

/* #endregion utilities */

/* #region debug */
.col_12{
    border: 1px dotted;
    height: 200px;
}

.col_md_6{
    height: 200px;
}

.col_md_4{
    height: 200px;
}

.col_lg_6{
    width: 300px;
    height: 400px;
}
/* #endregion debug */

/* #region header */

.head_container{
    background-color: var(--head-blue);
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px;
    width: 100%;
}

#logo{
       padding: 1rem 1rem;
}

.fa-bars{
    align-self: center;
    color: var(--light-white);
    padding: 1rem 1rem;

}

/* #endregion header */

/* #region main */

.app_main{
    justify-content: center;
}
/* #region feature */

.col_feature_bg{
    background-color: var(--light-blue);
}

/* #endregion feature */

/* #region custom */

.custom_bg{
    background-color: var(--light-purple);
}


/* #endregion custom */

/* #region partner */
    .col_partner_bg{
        background-color: var(--light-blue);
    }

/* #endregion partner */

/* #region benefits */

.benefits{
    margin: 2rem 0;
}

.benefits_bg{
    background-color: var(--light-purple);
}

/* #endregion benefits */

/* #region call_to_action */

.call_bg{
    background-color: var(--light-purple);
}


/* #endregion call_to_action */

/* #endregion main */


/* #region footer */

.footer_bg{
    background-color: var(--dark-black);
}

/* #endregion footer */


/* #region mediaquery */

@media screen and (min-width: 768px){
    .col_md_6{
        width: calc(100% / 12 * 6);  
        margin-right: 1.2rem;  
    }

    .col_md_3{
        width: calc(100% / 12 *3);
    
    }

    .col_md_3_bfts{
        width: calc(100% / 12 *3);
        margin: 2rem;
    
    }
    
    .row_lg{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1160px){

    .d_none{
        display: none;
    }
    
    .d_none_lg{
        display: inline-block;
    }

    .row_lg{
    flex-wrap: nowrap;
    }

    .col_md_6{
        width: calc(100% / 12 * 6);    
    }

    .col_lg_3{

        width: calc(100% / 12 *3);
        margin: 1rem;
    
    }


    
}




/* #endregion mediaquery */
